<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/content/AdminStyleSheet.css" rel="stylesheet" />
    <link href="~/content/minifiedCss/admin-style.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/scripts/lib/jquery.min.js"></script>
    <script src="~/scripts/lib/materialize.min.js"></script>
    
    @RenderSection("JavaScript", false)
       
</body>
</html>
