
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_AdminLayoutPage.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col s2 valign-wrapper center-align blue lighten-2 hoverable div_style" id="add_category">
            <span>Добавить категорию товаров</span>
        </div>

        <div class="col s2 valign-wrapper center-align blue lighten-2 hoverable div_style" id="edit_category">
            <span>Отредактировать наименование категории товаров</span>
        </div>

        <div class="col s2 valign-wrapper center-align blue lighten-2 hoverable div_style" id="show_hide_category">
            <span>Отображение/скрытие категории товаров</span>
        </div>

        <div class="col s2 valign-wrapper center-align blue lighten-2 hoverable div_style" id="add_size">
            <span>Добавить в базу новый размер</span>
        </div>

        <div class="col s2 valign-wrapper center-align blue lighten-2 hoverable div_style" id="edit_size">
            <span>Отредактировать наименование размера</span>
        </div>

        <div class="col s2 valign-wrapper center-align blue lighten-2 hoverable div_style" id="add_subcategory">
            <span>Добавить подкатегорию товаров</span>
        </div>

        <div class="col s2 valign-wrapper center-align blue lighten-2 hoverable div_style" id="edit_subcategory">
            <span>Отредактировать подкатегорию товаров</span>
        </div>

        <div class="col s2 valign-wrapper center-align blue lighten-2 hoverable div_style" id="show_hide_subcategory">
            <span>Отображение/скрытие подкатегории товаров</span>
        </div>
    </div>

    <div id="modal_window" class="modal modal-close">
        <div class="modal-header right">
            <button class="modal-close btn red accent-2">
                <i class="material-icons">close</i>
            </button>
        </div>
        <div class="modal-content" id="modal_content"></div>
    </div>
</div>

@section JavaScript{
    <script src="~/scripts/admin/minifiedScripts/admin-scripts.min.js"></script>
}






